@charset "utf-8";
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
body {
	background: #fff; 
	font: 18px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
	animation: fadeIn .75s .75s both ease-in;
	text-transform: lowercase;
	color: black;
    margin: 0;
}
div#background {
	position: absolute;
	height: 100%;
	width: 100%;
}
div.centerWrapper {
	transform: translateY(-50%);
	position: absolute;
	width: 50vw;
	left: 25vw;
	top: 50%;
}
h1#greetingTitle {
		font-size: 3.4em;
		font-weight: 200;
		text-align: center;
		margin: 0 auto;
		max-width: 512px;
		padding: 0;
		text-transform: uppercase;
}
div.timeDate div {
	font-size: xx-large;
	padding: 0 5px 5px;
}

#google-search {
	//width: 600px;
}
#reddit-input {
	margin-top: 5px;
	width: 84%;
	display: inline;
}
#reddit-submit {
	margin-top: 5px;
	display: inline;
}
#chan-input {
	margin-top: 5px;
	width: 82%;
}
#chan-submit {
	margin-top: 5px;
}
#reddit-span {
	display: inline;
	float: left;
	width: 50%;
}
#chan-span {
	display: inline;
	float: left;
	width: 50%;
}
//.search {
//	height: 37px;
//	font-size: 1em;
//	border-radius: 12px;
//	border-style: solid;
//	padding: 0px 0px 0px 10px;
//	width: 75%;
//	border-color: #bfbfbf;
//}
//.search-buttons {
//	padding: 7px 10px 7px 12px;
//	margin: 0;
//	font-weight: bold;
//	font-size: 1em;
//	border: none;
//	background: #000;
//	color: #fff;
//	border-radius: 12px;
//}
.google-span {
	//display: inline-block;
	overflow: hidden;
}
.google-span > * {
	vertical-align: top;
	border: 0;
	margin: 0px -8px 0px 3px;
	padding: 13px 14px;
}

.google-span > input[type=text] {
	width: 150px;
	border: 1px solid #000;
	border-right: none;
	width: 91%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	font-size: 14px;
}

.google-span > button {
	border-left: 1px solid gray;
	background: #000;
	border: 1px solid #000;
	color: white;
	cursor: pointer;
	padding: 11px 11px 11px 12px;
	font-weight: bold;
	font-size: 1em;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#google-submit {
	background: #000;
	color: #fff;
}
div#lastFM { text-align: center; }
div#lastFM a {
	color: white;
	display: inline-block;
	padding: 15px 0;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.subMenu {
	display: none;
	width: 100%;
}
a {
	transition: all .15s;
	text-decoration: none;
	display: block;
	outline: none;
	padding: 15px;
	color: #111;
}
a:hover, a:focus { text-decoration: underline; }
p {
	padding: 15px;
	margin: 0;
}
p.top, p.bottom {
	position: absolute;
	font-size: smaller;
	width: 100%;
}
p.top    { top:    0%; }
p.bottom { bottom: 0%; }
p a {
	display: inline-block;
	color: inherit;
	padding: 0;
}
ul.box a[data-key]:after {
	float: right;
	content: attr(data-key);
	opacity: .75;
	font: 80%/18px monospace;
	text-transform: uppercase;
}
.clear { clear: both; }
.left  { float: left; }
.right { float: right; }
.text-right { text-align: right; }
.no-transform { text-transform: none; }
div.right, div.left { width: 50%; }
ul.box li a { background-color: rgba(255, 255, 255, .4); }
ul li a:hover, ul li a.active, ul li a.active + ul.subMenu li a { background-color: rgba(255, 255, 255, .6); }
@media (max-width: 985px) {
	ul.box div.left, ul.box div.right, div.timeDate div {
		text-align: center;
		float: none;
		width: 100%;
	}
	div.timeDate div { padding-bottom: 15px; }
}
@keyframes fadeIn {
	from { opacity: 0; }
	to   { opacity: 1; }
}
